input{ width:50%; font-weight:bold; }
button{ font-weight:bold; width:7em; }

h1,h2 {
  text-indent:10%;
  margin-bottom: 1em;
}

h3, h4, h5, h6 { margin-bottom:0.5em;margin-top:0.5em; }

input{}

.msg_tag{ background-color:#DDF; border-radius: 0.6em; border: 0.14em solid #88F;
          padding:0.1em 0.1em;
}

.it_title{ font-weight:bold }

.warn{ color:red }
.wrong{ color:red }
.invalid{ color:red }

.important{ font-weight:bold; }
.note{ color:#777 }
.minor{color:#666; font-size:70%;}
.hint{ color:#444 }

.live{ background-color:#8F8; }
.dead {background-color:#FFF; color:#555 }

.sql_live{ font-family:"Lucida Console", Monaco, monospace;
background-color:#8F8; }
.sql_dead{ font-family:"Lucida Console", Monaco, monospace;
background-color:#FFF; color:#555 }