 #side_panel {
    position:fixed;
    width:10%;
    margin-left: 0.5em;
    vertical-align:text-top;
}
#top_panel {
    top:0%;
    width:90%;
    left:10%;
    position:fixed;
    float:left;
    margin-left:3%;
    background-color:white;
}
#list {
    position:absolute;
    left:13%;
    top:6em;
}